header #first {
  background-color: black; }
  header #first #custom-container {
    display: flex;
    justify-content: space-around; }
    header #first #custom-container :nth-child(1) {
      padding: 3px 0; }
      header #first #custom-container :nth-child(1) a {
        text-decoration: none;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 15px;
        color: #fff;
        letter-spacing: 2px; }
      header #first #custom-container :nth-child(1) :hover {
        text-decoration: underline; }
      @media (max-width: 1007px) {
        header #first #custom-container :nth-child(1) {
          display: none; } }
    header #first #custom-container :nth-child(2) i {
      color: #fff;
      font-size: 11px; }
    header #first #custom-container :nth-child(2) a {
      text-decoration: none;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 15px;
      color: #fff;
      letter-spacing: 2px; }
    header #first #custom-container :nth-child(2) :hover {
      text-decoration: underline; }
    @media (max-width: 1007px) {
      header #first #custom-container :nth-child(2) {
        text-align: center; } }

header #second #custom-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 35px; }
  header #second #custom-container ul {
    display: flex; }
    header #second #custom-container ul li {
      list-style: none; }
      header #second #custom-container ul li a {
        padding: 0 10px;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 13px;
        color: #000; }

@media (max-width: 1007px) {
  header #second {
    display: none; } }

header #third {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e3e3e3; }
  header #third #custom-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header #third #custom-container .hamburger-menu button {
      color: #000;
      font-size: 30px;
      border: none;
      background-color: white; }
    header #third #custom-container .hamburger-menu a {
      text-decoration: none;
      color: black;
      font-size: 30px;
      margin-left: 10px; }
    @media (min-width: 1007px) {
      header #third #custom-container .hamburger-menu {
        display: none; } }
    header #third #custom-container .logo a img {
      width: 60px;
      height: 60px; }
    header #third #custom-container .nav-links ul {
      display: flex; }
      header #third #custom-container .nav-links ul li {
        list-style: none; }
        header #third #custom-container .nav-links ul li a {
          text-decoration: none;
          padding: 0 15px;
          text-transform: uppercase;
          color: #000; }
    @media (max-width: 1007px) {
      header #third #custom-container .nav-links {
        display: none; } }
    header #third #custom-container .search ul {
      display: flex; }
      header #third #custom-container .search ul li {
        list-style: none; }
        header #third #custom-container .search ul li form input {
          border: none;
          background-color: #e9ecef;
          padding: 2px 0;
          padding-left: 10px; }
          @media (max-width: 1007px) {
            header #third #custom-container .search ul li form input {
              display: none; } }
        header #third #custom-container .search ul li form button {
          border: none;
          background-color: #e9ecef;
          position: relative;
          right: 35px; }
          @media (max-width: 1007px) {
            header #third #custom-container .search ul li form button {
              background-color: white; } }
        header #third #custom-container .search ul li a {
          text-decoration: none;
          padding: 0 10px;
          color: #000; }
      @media (max-width: 1007px) {
        header #third #custom-container .search ul #heart {
          display: none; } }

header #fourth {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden; }
  header #fourth .custom-container {
    width: 75%;
    display: flex;
    padding: 20px 0 0 0; }
    header #fourth .custom-container .trending {
      display: flex; }
      header #fourth .custom-container .trending ul li {
        list-style: none; }
        header #fourth .custom-container .trending ul li a {
          text-decoration: none;
          color: #666;
          font-size: 14px; }
    header #fourth .custom-container .products {
      display: flex;
      padding: 0 0 0 110px; }
      header #fourth .custom-container .products div {
        padding: 0 0 0 30px; }
        header #fourth .custom-container .products div ul li {
          list-style: none; }
          header #fourth .custom-container .products div ul li a {
            text-decoration: none;
            color: #666;
            font-size: 14px; }

header #fifth {
  display: flex;
  justify-content: center;
  height: 0; }
  header #fifth .custom-container {
    width: 90%; }
    header #fifth .custom-container .icons {
      display: flex;
      justify-content: center;
      position: relative;
      border-bottom: 1px solid #e3e3e3;
      padding: 15px 0 0 0; }
      header #fifth .custom-container .icons .cus-btn button {
        border: none;
        background-color: transparent; }
        header #fifth .custom-container .icons .cus-btn button i {
          font-size: 24px;
          position: absolute;
          right: 10px;
          top: 25px; }
    header #fifth .custom-container .nav-links {
      padding: 15px 0 0 0;
      border-bottom: 1px solid #e3e3e3; }
      header #fifth .custom-container .nav-links ul li {
        list-style: none; }
        header #fifth .custom-container .nav-links ul li a {
          text-decoration: none;
          color: #000;
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 18px; }
    header #fifth .custom-container .services {
      padding: 15px 0 0 0; }
      header #fifth .custom-container .services ul li {
        list-style: none;
        margin-top: 10px; }
        header #fifth .custom-container .services ul li a {
          text-decoration: none;
          color: #000;
          font-size: 18px; }

main #first {
  position: relative; }
  @media (min-width: 1007px) {
    main #first .container {
      position: absolute;
      top: 35%;
      left: 5%; } }
  @media (max-width: 1006px) {
    main #first .container {
      position: absolute;
      top: 70%;
      left: 2%; } }
  @media (max-width: 640px) {
    main #first .container {
      position: absolute;
      top: 60%;
      left: 2%; } }
  main #first .container .content .title h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 38px; }
    @media (max-width: 640px) {
      main #first .container .content .title h2 {
        font-size: 20px;
        line-height: 20px; } }
  main #first .container .content .desc p {
    font-size: 18px;
    line-height: 24px; }
    @media (max-width: 640px) {
      main #first .container .content .desc p {
        font-size: 14px;
        line-height: 18px; } }
  main #first .container .content .shop div {
    margin-top: 10px;
    border: 1px solid black;
    width: fit-content;
    position: relative; }
    main #first .container .content .shop div button {
      background-color: #000;
      border: none;
      color: white;
      padding: 10px 15px;
      font-size: 20px;
      position: relative;
      right: 3px;
      bottom: 3px; }
      @media (max-width: 640px) {
        main #first .container .content .shop div button {
          padding: 5px 5px;
          font-size: 14px; } }
  @media (max-width: 1006px) {
    main #first .image .first-image {
      display: none; } }
  @media (min-width: 1007px) {
    main #first .image .first-image {
      width: 100%; } }
  @media (min-width: 1007px) {
    main #first .image .second-image {
      display: none; } }
  @media (max-width: 1006px) {
    main #first .image .second-image {
      width: 100%; } }

main #addition1 {
  padding: 60px 0 0 0; }
  main #addition1 .custom-container #custom-title {
    padding: 0 0 60px 0; }
    main #addition1 .custom-container #custom-title h2 {
      text-align: center;
      font-style: italic;
      letter-spacing: -0.3px; }
  main #addition1 .custom-container .products .row {
    display: flex;
    width: 100%; }
    main #addition1 .custom-container .products .row div .card {
      cursor: pointer;
      border: none; }
      main #addition1 .custom-container .products .row div .card .image {
        position: relative; }
        main #addition1 .custom-container .products .row div .card .image .hearth {
          position: absolute;
          top: 10px;
          right: 10px; }
          main #addition1 .custom-container .products .row div .card .image .hearth a {
            text-decoration: none;
            color: black; }
        main #addition1 .custom-container .products .row div .card .image img {
          width: 100%; }
        main #addition1 .custom-container .products .row div .card .image .price {
          position: absolute;
          bottom: -20px;
          left: 10px; }
          main #addition1 .custom-container .products .row div .card .image .price p {
            background-color: white;
            padding: 3px; }
      main #addition1 .custom-container .products .row div .card .desccription .custom-title {
        margin-top: 5px; }
        main #addition1 .custom-container .products .row div .card .desccription .custom-title p {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0; }
      main #addition1 .custom-container .products .row div .card .desccription .desc p {
        font-size: 12px;
        line-height: 16px;
        color: #666;
        margin-top: 0; }
    main #addition1 .custom-container .products .row :hover .card {
      border: 1px solid black; }

main #addition2 {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center; }
  main #addition2 .custom-container {
    width: 90%; }
    main #addition2 .custom-container ul {
      width: 100%; }
      main #addition2 .custom-container ul li {
        width: 100%;
        list-style: none; }
        main #addition2 .custom-container ul li a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 24px; }
  @media (min-width: 1007px) {
    main #addition2 {
      display: none; } }

main #second {
  padding: 80px 0 0 0; }
  main #second #custom-container .title {
    text-align: center; }
    main #second #custom-container .title h2 {
      font-size: 40px;
      letter-spacing: -2px;
      font-weight: 600;
      font-style: normal; }
  main #second #custom-container .links1 {
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0; }
    main #second #custom-container .links1 ul {
      display: flex; }
      main #second #custom-container .links1 ul li {
        margin-left: 15px;
        list-style: none;
        border: 1px solid #e3e3e3;
        padding: 10px; }
        main #second #custom-container .links1 ul li a {
          text-decoration: none;
          color: #000;
          text-transform: uppercase; }
  main #second #custom-container .links2 {
    padding: 80px 0 0 0; }
    main #second #custom-container .links2 #custom-row div {
      margin-top: 10px; }
      main #second #custom-container .links2 #custom-row div a {
        position: relative; }
        main #second #custom-container .links2 #custom-row div a img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        main #second #custom-container .links2 #custom-row div a span {
          text-decoration: underline;
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          top: 110px;
          left: 40%; }

main #third .hr {
  border: 1px solid #000;
  width: 100%;
  border-bottom: none; }

main #third .title {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main #third .title .sec1 ul {
    display: flex; }
    main #third .title .sec1 ul li {
      margin-left: 20px;
      list-style: none; }
      main #third .title .sec1 ul li a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase; }
  main #third .title .sec2 a {
    text-decoration: underline;
    color: #000;
    text-transform: uppercase;
    font-weight: bold; }
  main #third .title .sec2 :hover {
    background-color: #000;
    color: #fff;
    text-decoration: none; }
  @media (max-width: 1007px) {
    main #third .title .sec2 {
      display: none; } }

main #third #custom-card {
  padding: 20px 0 0 0;
  cursor: pointer;
  border: none; }
  main #third #custom-card .image {
    position: relative; }
    main #third #custom-card .image .hearth {
      position: absolute;
      top: 5%;
      right: 5%; }
      main #third #custom-card .image .hearth a {
        text-decoration: none;
        color: #000; }
    main #third #custom-card .image img {
      width: 100%; }
    main #third #custom-card .image .price {
      position: absolute;
      bottom: -15px;
      left: 2%; }
      main #third #custom-card .image .price p {
        background-color: #fff;
        padding: 0 5px;
        font-size: 14px; }
  main #third #custom-card .desccription {
    padding: 0 0 0 10px; }
    main #third #custom-card .desccription .title p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0; }
    main #third #custom-card .desccription .desc p {
      font-size: 12px;
      color: #666;
      margin-bottom: 0; }
    main #third #custom-card .desccription .code p {
      font-size: 14px;
      margin-bottom: 0; }

main #fourth {
  padding: 80px 0 20px 0; }
  main #fourth #custom-container #custom-row div #custom-card {
    border: none;
    cursor: pointer; }
    main #fourth #custom-container #custom-row div #custom-card .image img {
      width: 100%; }
    main #fourth #custom-container #custom-row div #custom-card .description .custom-title p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0; }
    main #fourth #custom-container #custom-row div #custom-card .description .desc p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
      color: #666; }
    main #fourth #custom-container #custom-row div #custom-card .description .shop-now {
      padding: 20px 0 0 0; }
      main #fourth #custom-container #custom-row div #custom-card .description .shop-now a {
        text-decoration: underline;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        transition: 300ms linear; }
      main #fourth #custom-container #custom-row div #custom-card .description .shop-now :hover {
        background-color: #000;
        color: #fff;
        padding: 5px; }

main #fifth {
  padding: 80px 0 40px 0;
  display: flex;
  justify-content: center;
  background-color: #e9ecef; }
  main #fifth .custom-container {
    width: 70%;
    display: flex;
    justify-content: space-between; }
    main #fifth .custom-container #custom-row div .text .custom-title p {
      font-size: 12px;
      font-weight: bold; }
    main #fifth .custom-container #custom-row div .text .desc p {
      font-size: 14px; }
    main #fifth .custom-container #custom-row .back {
      display: flex;
      justify-content: center;
      align-items: center; }
      main #fifth .custom-container #custom-row .back i {
        margin-bottom: 15px; }
      main #fifth .custom-container #custom-row .back p {
        padding: 0 0 0 10px; }
    @media (min-width: 1007px) {
      main #fifth .custom-container #custom-row .opinion {
        display: none; }
      main #fifth .custom-container #custom-row .back {
        display: none; } }

main .login {
  background-color: #000;
  width: 100%; }
  main .login .custom-container {
    width: 70%; }
    main .login .custom-container #custom-row div {
      width: 50%;
      display: flex;
      justify-content: end; }
      main .login .custom-container #custom-row div a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 600; }
  @media (min-width: 1007px) {
    main .login {
      display: none; } }

main #sixth {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
  background-color: yellow; }
  main #sixth .custom-container {
    width: 60%; }
    main #sixth .custom-container #custom-row div p {
      font-size: 30px;
      font-weight: bold; }
    main #sixth .custom-container #custom-row div div {
      border: 1px solid black;
      width: fit-content; }
      main #sixth .custom-container #custom-row div div button {
        background-color: #000;
        color: #fff;
        position: relative;
        bottom: 3px;
        right: 3px;
        padding: 5px 15px; }
      main #sixth .custom-container #custom-row div div :hover {
        color: #666; }

main #seventh {
  display: flex;
  justify-content: center;
  padding: 80px 0 0 0;
  width: 100%; }
  main #seventh #custom-container {
    width: 70%;
    display: flex;
    justify-content: space-between; }
    main #seventh #custom-container div .custom-title h3 {
      font-size: 18px;
      font-weight: bold;
      padding: 0 0 0 30px; }
    main #seventh #custom-container div ul li {
      list-style: none; }
      main #seventh #custom-container div ul li a {
        text-decoration: none;
        color: #666;
        font-size: 13px; }
      main #seventh #custom-container div ul li :hover {
        text-decoration: underline; }
  @media (max-width: 1007px) {
    main #seventh {
      display: none; } }

main #eighth {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 20px 0; }
  main #eighth .custom-container {
    width: 80%;
    display: flex;
    justify-content: space-between; }
    main #eighth .custom-container .links ul li {
      list-style: none; }
      main #eighth .custom-container .links ul li a {
        text-decoration: none;
        color: white; }
  @media (min-width: 1007px) {
    main #eighth {
      display: none; } }

footer {
  background-color: #363738;
  width: 100%; }
  footer #first {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center; }
    footer #first .custom-container {
      width: 70%; }
      footer #first .custom-container #custom-row .country a {
        text-decoration: none;
        display: flex;
        font-size: 12px;
        color: #c8cbcc; }
        footer #first .custom-container #custom-row .country a img {
          width: 20px;
          padding-right: 5px; }
      @media (max-width: 1007px) {
        footer #first .custom-container #custom-row .country {
          display: flex;
          justify-content: center; } }
      footer #first .custom-container #custom-row div {
        margin-top: 15px; }
        footer #first .custom-container #custom-row div a {
          text-decoration: none;
          display: flex;
          font-size: 10px;
          color: #c8cbcc;
          letter-spacing: -0.2px; }
  footer #second {
    padding: 30px 0;
    display: flex;
    justify-content: center; }
    footer #second .custom-container {
      width: 70%; }
      footer #second .custom-container p {
        font-size: 12px;
        color: #c8cbcc; }
